.button{
    width: 100px;
    font-weight: 600 !important;
}

.saveButton{
    background-color: green;
    color: white;
}

.cancelButton{
    background-color: red;
    color: white;
}

.downloadButton{
    background-color: darkslategray;
    color: white;
}

