.button {
  width: 100px;
  font-family: "Segoe UI Regular WestEuropean Segoe UI Tahoma Arial sans-serif";
}

.modal_title {
  font-family: "Segoe UI Regular WestEuropean Segoe UI Tahoma Arial sans-serif";
  font-size: 14px !important;
  font-weight: 600 !important;
}
.modal_text {
  font-family: "Segoe UI Regular WestEuropean Segoe UI Tahoma Arial sans-serif";
  font-size: 14px !important;
  padding: 4px;
}
